<!--ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar-->

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="Grouproom"></MyDrawer>
    </StackLayout>
        <GridLayout columns="*,*,*,*" rows="auto, *, auto" class="page page-content" tkMainContent>
            <!-- App Header -->
            <GridLayout class="app-header home" colSpan="4" columns="auto,auto,*">
                <Label style="padding-left:10;" text="Logo" col="0" horizontalAlignment="left" verticalAlignment="center" class="actionbartext"></Label>
                <Label style="padding-left:10;" text="KTH Biblioteket" col="1" horizontalAlignment="left" verticalAlignment="center" class="actionbartext"></Label>
                <Label text="&#xe87c;" class="mdi drawerbutton" col="2" horizontalAlignment="right" verticalAlignment="center" (tap)="onDrawerButtonTap()"></Label>
            </GridLayout>
            <!-- Page Content -->
            <StackLayout colSpan="4" row="1">
                    <Label text="Grupprum" row="0" horizontalAlignment="center" verticalAlignment="center" class="content-header"></Label>
                    <ListView height="200" row="1" style="separator-color: transparent; background-color: rgba(100,100,100,0.700)" [items]="bookings" (itemTap)="onItemTap($event)">
                        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                            <GridLayout rows="*,auto" columns="*,*" style="font-size:20;" height="30" [class.odd]="odd" [class.even]="even">
                                <Label row="0" [text]='"index: " + i'></Label>
                                <Label row="0" col="1" [text]='item.hour08'></Label>
                                <Label row="0" col="1" [text]='item.hour09'></Label>
                                <Label row="0" col="1" [text]='item.hour10'></Label>
                                <StackLayout row="1" colSpan="2" backgroundColor="#708090" height="1"></StackLayout>
                            </GridLayout>
                        </ng-template>
                    </ListView>
            </StackLayout>
            <!-- App Navigation Bottom Bar -->
            <GridLayout row="2" colSpan="4" rows="*" columns="*,*,*,*" class="bottom-bar" verticalAlignment="bottom">
                <Label route="/home" (tap)="onNavItemTap('/home')" col="0" verticalAlignment="center" horizontalAlignment="center" text="&#xF015;" class="fa"></Label>
                <Label col="1" verticalAlignment="center" horizontalAlignment="center" text="&#xF0C0;" class="fa bottom-active"></Label>
                <Label route="/tandem" (tap)="onNavItemTap('/tandem')" col="2" verticalAlignment="center" horizontalAlignment="center" text="&#xF2B5;" class="fa"></Label>
                <Label route="/settings" (tap)="onNavItemTap('/settings')" col="4" verticalAlignment="center" horizontalAlignment="center" text="&#xF013;" class="fa"></Label>
            </GridLayout>
        </GridLayout>
</RadSideDrawer>